.fr {
  float: right;
}
.fl {
  float: left;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.lh28 {
  line-height: 28px;
}
.c3 {
  color: #333;
}
.c9 {
  color: #999;
}
.cf4 {
  color: #f40;
}
.c1 {
  color: #9a745f;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.lh2 {
  line-height: 2;
}
.lh16 {
  line-height: 16px !important;
}
.mg20 {
  margin: 20px 0;
}
.underline:after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #f40;
  bottom: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
div,
input,
header,
section,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var,
h1,
h2,
h3,
h4 {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/20px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
html {
  font-size: 100px;
}
body {
  background-color: #f9f9f9;
}
